<!DOCTYPE html>
<html>

<body>
    <form method="POST" action="/spin-up-image">
        <ul>
            {{#each cmd}}
            <li>
                <input type="checkbox" name="{{this}}" value="{{this.serviceName}}"> {{this.serviceName}}<br>
                {{#if this.active}}
                    <a href="/read-logs/{{this.serviceName}}" action="/read-logs/{{this.serviceName}}" target="_blank">Logs</a>
                    <a href="/alt-service/{{this.serviceName}}">Stop</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        <button type="submit">Execute</button>
    </form>

</body>

</html>